.switch-container{
    margin-left: 100px;
}
.switch{
    background: #a72884;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    &::after{
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        background: #f1f1f1;
        top: 0;
        left: 0;
        right: unset;
        border-radius: 100px;
        transition: .3s ease all;
        box-shadow: 0px 0px 2px 2px rbga(0, 0, 0,.2);
    }
    &.active{
        background: #e5bed9;
        color: #000;
        &::after{
            right: 0;
            left: unset;
        }
    }
    span{
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: block;
        background: none;
        color: white;
    }
}
body{
    &.dark{
        background: #e5bed9;
    }
.text-center
    &.dark{
    background: #a75966;
}
.container-wrap{
    background: #a75966;

 .colorlib-feature .colorlib-icon{
     &.dark{
     background: #a75966;
    }
  }
}
}
